<div class="modal fade" id="last-meal-modal" tabindex="-1" role="dialog" aria-labelledby="last-meal-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title" id="last-meal-modal-label">¡Último ticket!</h4>
                </div>

                <div class="modal-body">
                    <p>
                        Solo te queda 1 servicio de comida en tu ticket, lo que consumirá tu tarjeta tras tu asistencia hoy.
                    </p>

                    <p>
                        Tienes dos opciones para indicar que deseas seguir subiendo a comer hoy. La primera opción añade automáticamente un nuevo crédito de 20 servicios a tu cuenta, asumiendo que comprarás el ticket cuando subas a comer. La segunda opción indica tu preferencia por subir, pero sin compra de ticket de por medio.
                    </p>
                </div>

                <div class="modal-footer">
                    <button id="ok-and-ticket" type="button" class="btn btn-primary btn-sm">
                        Aceptar y añadir crédito
                    </button>

                    <button id="ok" type="button" class="btn btn-info btn-sm">
                        Aceptar (sin crédito)
                    </button>

                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
