<div class="modal fade" id="no-meals-modal" tabindex="-1" role="dialog" aria-labelledby="no-meals-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" id="no-meals-modal-label">¡Sin tickets!</h4>
            </div>

            <div class="modal-body">
                <p>
                    No te queda ningún servicio de comida en tu ticket. Seleccionando la opción de <em>Aceptar y añadir crédito</em> tu preferencia quedará registrada a la vez que se añadirá un nuevo crédito por 20 servicios a tu cuenta.
                </p>
            </div>

            <div class="modal-footer">
                <button id="ok-and-ticket" type="button" class="btn btn-primary btn-sm">
                    Aceptar y añadir crédito
                </button>

                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
