
body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.user-div, #dropdown-div {
    display: inline-block;
}

#logged-user {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #4da9ff;
    font-weight: bolder;
}

.centered {
    text-align: center;
}

.summary span {
    margin: 0 0.5em;
    font-size: 3em;
    font-weight: bold;
    text-shadow:
        1px 0px 1px #ccc, 0px 1px 1px #eee,
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee;
}

.summary .ordinary {
    color: green;
}

.summary .delayed {
    color: orange;
}

.summary .non-attendance {
    color: red;
}

.summary .non-confirmed {
    color: darkGrey;
}

#attendance-table tr td {
    padding-left: 1em;
    font-size: 18px;
    font-weight: 300;
    vertical-align: middle;
}

#green-circle {
    color: green;
}

#yellow-circle {
    color: gold;
}

#red-circle {
    color: red;
}

#grey-circle {
    color: darkGrey;
}

#def_behaviour_title {
    color: #333;
    font-weight: bold;
}

.radio ul {
    list-style: none;
}
